[2016-08-18 18:00] jfear opened #1 "Export png or widget"
This is an interesting project. For report generation it would be nice to be able to save the current location as png in an HTML or PDF report. Not sure how hard this would be.

Also it would be nice if you could make a linux-64 version on conda.

[2016-08-18 19:37] jrobinso commented on #1
Hi, we just pushed a linux-64 version to conda.

RE the png output, that's an interesting idea but can you elaborate a bit more on how it would work?   Specifically, how would you envision the png image being returned?

[2016-08-18 20:17] jfear commented on #1
Thank you for the quick response.

First a little motivation. I mostly use jupyter as a lab notebook and for report generation (typically HTML) to send to collaborators. There are times during the exploratory analysis phase that you would like to sequence gaze and record regions of interest. I envision it would be nice that as I scroll around a browser track to be able to record these regions by j

[2016-08-19 20:35] paul-shannon opened #2 "igv.js in a notebook: specify track from, eg, a pandas (bed-like) data.frame"
If, in a notebook, I manipulate a bed file, creating a subset, can I ask igv.js to load a local file, or perhaps even pass the data directly it a properly structured (bed formatted) pandas DataFrame or, in R, a traditional data.frame?

Thanks -

 - Paul

[2016-08-19 22:20] jrobinso commented on #2
I assume you are running standalone Jupyter  (i.e. python and its web server are running on your computer)?   If so this should be possible using the  python web server, but I don't know the details.  You need a URL to the file that matches the protocol of the page itself  (i.e. if the page is http the protocol can't be "file").   Javascript on a web page cannot load local files directly from a fi

[2016-08-19 22:42] tmtabor commented on #2
If you create a subset of a bed file and save it locally to your Jupyter workspace, you should be able load the file into igv.js easily enough. The URL for the file will be something like `http://localhost:8888/files/foo.bed`, assuming that you're running Jupyter on your local machine.

If you're working with your data in a pandas DataFrame, you'll need to write the data to disk first so it can be

[2016-08-20 01:14] paul-shannon commented on #2
Thanks, Thorin and Jim,

Your advice got me pretty far, but not all the way.  I write out a 13-line bed file, make sure that it loads and displays properly (even without an index) in igv desktop, then try in igv.js in a notebook.

There is no apparent error in the igv.js widget, and while the javascript console complains about the missing index, ti appears to be looking the bed file:

GET http://w

[2016-08-20 03:28] jrobinso commented on #2
Hi,  I'm not a Jupyter expert but here's a few suggestions for the next step
(1) the search for the index (404) is harmless, but you can suppress it with the property "indexed: false"
(2) do you have developer tools open?  There could be network errors.  Look at the server response to the bed "get" on the network tab of developer tools and see if there's anything there.
(3) is the page itself serv

[2016-08-20 03:34] jrobinso commented on #2
Actually @paul-shannon the "goto" function is their and called "search_tracks".   The name is misleading, we will change that to "search".   The argument can be a gene name, e.g. MYC,  or a locus in the format  chr2:1000-2000.

[2016-08-20 03:35] jrobinso opened #3 "Rename "search_track" to "search" and update comment"
The "search_track" function wraps browser.search, and should be named just "search".  Also the comment is misleading.

[2016-08-20 15:39] paul-shannon commented on #2
Thanks, Jim (and Tobin).

Here is the error message I see (odd - it’s from require.js),
a few lines of code which distill the problem, with the actual notebook attached.

Maybe it will work for you!

 - Paul

require.js:900 ReferenceError: testTrack is not defined
require.js:900enable
require.js:1177init
require.js:783(anonymous function)
require.js:1453

# In[1]:
from igv import IGV, Reference, T

[2016-08-20 15:57] paul-shannon commented on #2
Forgive me:  not Tobin, of course, but Thorin.

- Paul

[2016-08-24 19:22] turner commented on #2
Hi Paul,
Your comment where you construct the URL `http://localhost:8890/notebooks/testTrack.bed` will work if you:
change `notebooks` to `files` assuming you launched Jupyter from the directory containing `testTrack.bed`

The general solution:
1. locate saved file on disk
2. identify the directory you launch Jupyter from. When Jupyter launches it defines a server directory tree rooted at this loc

[2016-08-25 10:34] #2 closed

[2016-08-25 13:43] turner commented on #3
We will need to go with `goto` - which makes more sense anyway - as a replacement for `search_track`. `search` is a reserved word that generates an error when it is called from a Jupyter notebook page.

[2016-08-27 22:59] paul-shannon commented on #2
This works perfectly.  Thanks for setting me on the right course.

 - Paul

[2016-09-01 16:43] KhagayN opened #4 "how would I actually view the plot?"
I'm able to run this code from the example but, how would I go about viewing the plot?

`# Define IGV.js instance`
`from igv import IGV, Reference, Track`

`IGV(locus="chr12:98,997,292-98,997,392", reference=Reference(id="hg19"), tracks=[
    Track(name="Genes", format="bed",       url="//s3.amazonaws.com/igv.broadinstitute.org/annotations/hg19/genes/gencode.v18.collapsed.bed", display_mode="EXPAN

[2016-09-01 16:43] KhagayN commented on #4
`print hello`

[2016-09-01 17:16] #3 closed

[2016-09-01 17:18] turner commented on #4
Each notebook is composed of executable cells. Click a cell to see a result.

[2016-09-01 17:30] turner commented on #4
Each notebook is composed of executable cells. To execute (run) a cell
1) select it (a left hand blue border appears to indicate selection)
2) click the play button (or shift-enter)

Here is a screen shot of play button.

![foo](https://cloud.githubusercontent.com/assets/87169/18177425/2dd1e6d8-7048-11e6-9b9c-5933db384872.png)

Here is a screen shot of API Examples notebook where I have selected t

[2016-09-01 17:39] KhagayN commented on #4
Thank you for the quick reply! Unfortunately, I followed your instructions and a plot still does not appear.

![screen shot 2016-09-01 at 1 38 33 pm](https://cloud.githubusercontent.com/assets/8751865/18177732/7d56ddb6-7049-11e6-99bc-535c839dd307.png)

[2016-09-01 17:47] turner commented on #4
Can you run **any** notebooks in Jupyter?

[2016-09-01 17:49] KhagayN commented on #4
Yes, I can run certain lab analyses in Jupyter notebook.s

[2016-09-01 17:51] tmtabor commented on #4
One possibility is that you haven't enabled the nbextension yet. Assuming that you've installed the igv python package, if you go to your command line and run the following two commands, it will enable support for the plots in the notebook environment.

[2016-09-01 17:53] KhagayN commented on #4
I've installed and enabled the extension. I listed the extensions enabled below. Maybe there's a problem because there's a problem validating?

![screen shot 2016-09-01 at 1 38 33 pm](https://cloud.githubusercontent.com/assets/8751865/18178183/5d2d7cf0-704b-11e6-9a06-9a808439d912.png)

[2016-09-01 17:54] KhagayN commented on #4
![screen shot 2016-09-01 at 1 53 52 pm](https://cloud.githubusercontent.com/assets/8751865/18178242/8c2cc2ae-704b-11e6-9cdc-aeeb048756e2.png)

[2016-09-01 18:22] tmtabor commented on #4
That would be why the plot is not displaying. The real question is why the nbextension isn't validating.

You might want to check your nbextension path just to make sure that the igv-jupyter.js file actually copied there successfully during installation. In my personal experience, I occasionally have trouble installing nbextensions due to file permission issues copying the file over in the first p

[2016-09-07 16:11] #4 closed

[2016-09-07 16:15] jrobinso commented on #4
Hi @KhagayN ,  were you able to resolve your problem?

[2016-09-07 16:20] KhagayN commented on #4
Yes @jrobinso. I had to contact people who had admin privileges to enable the extension. After that, I was able to load and use the package! Thanks for the help!

[2016-09-07 16:48] KhagayN opened #5 "Passing over GRanges to IGV.js"
Hello!

Is it possible to pass over a GRanges object in R to this application?

Thanks for the help!

[2016-09-07 17:17] KhagayN commented on #5
Sorry this seems to a problem requiring wrapper R objects and not related to this package.

[2016-09-07 17:17] #5 closed

[2016-09-08 23:37] paul-shannon opened #6 "jupyter notebook igv, doubleClickDelay=1 does not disable "double click to zoom""
This solution used to (probably still does) work in igv.js.
My tests and experiments lead me to believe it does not work for the notebook widget.

The first few lines of my call to the constructor:

    igv = IGV(locus="chr21:25,863,045-25,887,052",
          reference=Reference(id="hg38"),
          doubleClickDelay=1,
          tracks=[Track(
                   name="Genes hg38 v24",

[2016-09-10 03:18] jrobinso commented on #6
@paul-shannon could you refresh our memory a little on what you are trying to accomplish,  and what is happening in jupyter to lead you to believe it is failing?    IIRC you are basically trying to turn double-click zoom off.

[2016-09-12 19:06] paul-shannon commented on #6
Hi Jim,

Yes, you are exactly right:  I want to turn off double-click zoom in igv.js-jupyter.

What I see now is that, no matter what value very small or zero value I assign to doubleClickDelay, the double-click zoom still happens.

 - Paul

[2016-09-12 20:33] turner commented on #6
I am looking at this now.

[2016-09-17 15:10] turner commented on #6
I deployed a new test version to PyPi Test that should fix the double-click issue.

[2016-09-26 02:21] paul-shannon commented on #6
Hi Douglass,

Thanks very much for fixing the double-click issue.  I am new to PyPi - will the fix perhaps be available from github also, maybe on a dev branch?

Thanks,

 - Paul

[2016-09-26 14:12] turner commented on #6
Paul, yes. Just clone master or download as a zip file.

[2016-09-30 18:10] paul-shannon commented on #6
just cloned master,  pip installed, installed and enabled the extension.   Will be happy to discover that the error is mine, but I still cannot disable the double-click-zoom.   Here is my simple test, after which double-click on the canvas triggers a zoom:

    igv = IGV(locus="chr1:1-200", reference=Reference(id="hg19"),
          tracks=[Track(
                   name="Genes",

[2016-09-30 18:22] tmtabor commented on #6
I believe the below code should work (note the change on line 4).

[code]

[2016-09-30 18:31] paul-shannon commented on #6
After substituting your code in the notebook: alas, still no.

I appear to be using the correct version of the extension:

  [D 11:28:24.003 NotebookApp] 200 GET /nbextensions/igv/igvjs/igv-1.0.1.min.js?v=20160930112807 (::1) 5.06ms

Anything else I can try?

Thanks!

 - Paul

[2016-09-30 18:50] tmtabor commented on #6
I apologize. There was a typo in my code before. I've since fixed it. Namely, double_click_delay is a parameter on the IGV object, rather than the Track object.

[2016-10-05 18:35] paul-shannon commented on #6
The fix works perfectly.  Thank you!

[2016-10-20 14:04] jfear opened #7 "Can't access local file: range-byte header ignored"
I have been trying to load local files using igv.js-jupyter

Your example code works.

[code]

However, if I download your `BED` and `IDX` files and try:

[code]

I get the following:

![image](https://cloud.githubusercontent.com/assets/1240432/19562679/362926dc-96ab-11e6-8a9b-77776af25eac.png)

The jupyter console gives me a 302:

![image](https://cloud.githubusercontent.com/assets/1240432/195627

[2016-10-21 20:06] turner commented on #7
Yes, I have reproduced this. I am looking into it.

[2016-10-24 18:56] #6 closed

[2016-10-24 20:41] jrobinso commented on #7
Hi, the problem is the web server (Jupyter server) does not support range request headers.   The consequence of this you can't server indexed files to IGV.   Your example should work if you just remove the index_url parameter.    The larger consequence is you cannot server large files, such as bam and fasta files, that require an index with this server.   A workaround if you need to serve files fr

[2016-10-25 12:08] jfear commented on #7
Thank you. I can confirm that my example works if I change the above to:

[code]

I will play with setting up an apache instance and playing with that to see if I can get BAMS working.

[2016-10-25 12:08] #7 closed

[2016-10-27 15:08] jfear commented on #1
I have a quick and dirty hack incase anyone else out there is wanting to this. I tried to get this into a function, but only could get things working by using the javascript cell magic. I am sure there are better approaches, given my JS skills are 0, but it works.

[code]

Then run the following to display:

[code]

[2016-10-27 15:33] jfear commented on #7
I was able to get things working. Thanks again for the guidance.

I am posting information incase others are trying to do something similar.

I set up a apache server on a CentOS 7 VM, attached is my httpd.conf (totally not secure, just quick and dirty):
[httpd.conf.txt](https://github.com/igvteam/igv.js-jupyter/files/556278/httpd.conf.txt)

I was not able to access the VM by IP (probably somethin

[2016-10-27 17:05] jfear opened #8 "Bam reads are cutoff"
Hey guys, sorry to bug you again.

When loading a BAM file the reads appear to get cutoff. This happens with default setting, and I have played with the display_mode, height, maxRows, and samplingDepth parameters which do not fix the problem.

![screen shot 2016-10-27 at 1 02 29 pm](https://cloud.githubusercontent.com/assets/1240432/19777371/e9b87136-9c45-11e6-9267-554e64ce9bd3.png)

thanks
Justin

[2016-10-27 17:07] jrobinso commented on #1
Thanks!

On Thu, Oct 27, 2016 at 8:08 AM, Justin Fear <notifications@github.com>
wrote:

[2016-10-27 17:12] jrobinso commented on #8
Thanks for the report, we'll look into it.

[2016-10-27 17:14] jrobinso commented on #8
BTW, keep bugging us.

On Thu, Oct 27, 2016 at 10:05 AM, Justin Fear <notifications@github.com>
wrote:

[2016-10-27 18:47] jfear commented on #8
I think I have narrowed the problem down. If I change the height attribute on the canvas it seems to look as expected.

Before the change:

![screen shot 2016-10-27 at 2 39 37 pm](https://cloud.githubusercontent.com/assets/1240432/19780541/74c7d7e6-9c53-11e6-820a-be3752b6480a.png)

After the change:

![screen shot 2016-10-27 at 2 37 00 pm](https://cloud.githubusercontent.com/assets/1240432/1978054

[2016-10-27 19:28] turner commented on #8
Justin that's helpful. I'm looking at this now.

[2016-10-27 21:05] jrobinso commented on #8
Thanks for the info,  I think its a bug on our side, you shouldn't have to
do that.  You should see a scrollbar when the alignments are "cut off",
 and also you should be able to control the height of the track in the
properties.

On Thu, Oct 27, 2016 at 11:47 AM, Justin Fear <notifications@github.com>
wrote:

[2016-10-31 14:24] turner commented on #8
I can not reproduce this issues. Are you seeing this with the examples as well. Try "BAM Example.ipynb"

[2016-11-02 17:56] jfear commented on #8
Sorry, just saw that you had replied.

I still get the same thing using the example notebook. I will play with it on some different computers and see if I can figure out if there is something specific to my setup. Nothing in the javascript console jumps out, so it maybe a chrome/osx thing. I will keep you posted.

[2016-11-02 18:30] jrobinso commented on #8
To be clear the "cut off" alignments are normal, what's not normal is the
absence of a scrollbar in the track.   Also, setting track height should
work (it does for us).

On Wed, Nov 2, 2016 at 10:56 AM, Justin Fear <notifications@github.com>
wrote:

[2016-11-02 21:34] jfear commented on #8
Just to clarify. There is a scroll bar, but the bams are cutoff half way through the read. I can scroll down, but it is just white.

![screen shot 2016-11-02 at 1 49 00 pm](https://cloud.githubusercontent.com/assets/1240432/19948138/82943b8a-a121-11e6-9db4-8cc4549efb0d.png)

I tried messing with the `height` and `maxHeight` parameters but they appear to do nothing.

When I get a chance I will test

[2016-12-01 17:45] clintval commented on #1
In case anyone is interested, modifying @jfear's code as following includes the chromosome ideogram:

[code]
In Python cell:
[code]

[2018-01-24 13:36] NemanjaVucic90 opened #9 "BigWig files visualization using built-in Jupyter server"
Hey guys,

if I understood well, indexed files including BigWig could not be visualized using the built-in Jupyter server. I saw that @jfear reported some bug regarding bam files in jupyter notebook so I am interested how did he manage to do that?

Cheers,
Nemanja

[2018-01-24 16:56] jrobinso commented on #9
Hi,  I'm not sure,  perhaps @jfear will answer.   However,  the problem as
I understand it is the lack of support for "range" requests by default.
You should be able to modify the juptyter server to support range-byte
requests.    We have done that for flask in another project
(igv.js-flask).   I do not know enough about jupyter to provide guidance
beyond that,  but a web search for   "Range byte

[2018-01-24 17:31] jfear commented on #9
Hey all,

I have not needed this for a while, and cannot remember having to do anything special. I tracked down an old notebook and see that I was running igv==v0.1.1 with this following code.

[code]

I was also able to get `search_tracks` to work.

[code]

Let me know if you cannot get this to work, or if this does not answer you question.

[2018-01-24 18:14] NemanjaVucic90 commented on #9
@jfear thanks for the advice but unfortunately I haven't succeeded. Here's my snippet
<img width="1151" alt="screen shot 2018-01-24 at 7 08 21 pm" src="https://user-images.githubusercontent.com/17168657/35349119-65141826-013a-11e8-91f7-c0c715468611.png">
@jrobinso I'll get back if I succeed in enabling range-byte requests in default jupyter notebook server.

[2018-01-24 18:23] jrobinso commented on #9
Leave this issue open,  when I find some time I'll look into it.   I think there should be a solution, but web googling so far hasn't turned up anything.

[2018-01-24 18:44] NemanjaVucic90 commented on #9
Thanks @jrobinso. Have you tried visualizing bigWig files, I saw only bam files in the examples. When I add bigWig file to the track from my local dir it doesn't show this error but it takes forever to load 500MB file, eventually if and when it loads in the plot this track is blank.

[2018-01-24 18:45] jrobinso commented on #9
What webserver are you using to serve the bigwig?

On Wed, Jan 24, 2018 at 10:44 AM, NemanjaVucic90 <notifications@github.com>
wrote:

[2018-01-25 10:46] NemanjaVucic90 commented on #9
I am using custom jupyter notebook web server but as I can see it has HTTP range requests enabled

<img width="1179" alt="screen shot 2018-01-25 at 11 44 54 am" src="https://user-images.githubusercontent.com/17168657/35384384-6e4553a2-01c5-11e8-8809-8a6cdbdf8bb9.png">

[2018-01-25 16:31] jrobinso commented on #9
OK,  well bigwig should work,  see http://igv.org/web/examples/api.html#.
  Select "Encode BigWig" from the Tracks menu.

Would it be possible to share a small bigwig that isn't working?   Also,
any errors in the javascript console?

On Thu, Jan 25, 2018 at 2:46 AM, NemanjaVucic90 <notifications@github.com>
wrote:

[2018-01-25 16:51] NemanjaVucic90 commented on #9
I get something like this
<img width="1141" alt="screen shot 2018-01-25 at 5 46 55 pm" src="https://user-images.githubusercontent.com/17168657/35400814-2121002a-01f8-11e8-97b2-c57b9a4356a4.png">
I've uploaded bigWig file that i used [here](https://files.fm/u/6nyzgme7)

[2018-01-25 16:58] NemanjaVucic90 commented on #9
Here's the region I am trying to get from IGV local app
<img width="1440" alt="screen shot 2018-01-25 at 5 57 04 pm" src="https://user-images.githubusercontent.com/17168657/35401294-615ae2b8-01f9-11e8-95d0-81738ccf7ad6.png">

[2018-01-25 18:00] jrobinso commented on #9
If you get that message it means the server ignored the range header,  so
its not going to work.    What version of Jupyter are you using?

On Thu, Jan 25, 2018 at 8:58 AM, NemanjaVucic90 <notifications@github.com>
wrote:

[2018-01-26 10:25] NemanjaVucic90 commented on #9
I am using Jypyter Notebook v5.0.0

[2018-01-27 01:14] jrobinso commented on #9
It might help to update to 5.1,  but I can't guarantee it.  We don't have the resources or expertise to help with Jupyter issues,  however, we did verify that your bw file can be successfully viewed with igv.js in a notebook.   Try loading the following URL

https://data.broadinstitute.org/igvdata/test/data/bigwig/_1_BT474_treat_pileup.bdg.sorted.bw

[2018-01-29 14:19] NemanjaVucic90 commented on #9
Hey @jrobinso finally, it worked. I updated jupyter notebook to v5.3.1 but I am not quite sure that was the reason. Sometimes I still get the "Error accessing resource:" but when I move wig track or zoom in/out error disappears and the file gets loaded almost immediately.
I have one more question, is it possible to increase resolution of the output window and that of separate tracks in terms of he

[2018-01-29 21:29] jrobinso commented on #9
Track options for igv.js are described here:
https://github.com/igvteam/igv.js/wiki/Tracks

To map these options to jupyter (pythong) properties see the Track class in
https://github.com/igvteam/igv.js-jupyter/blob/master/igv/__init__.py

On Mon, Jan 29, 2018 at 6:19 AM, NemanjaVucic90 <notifications@github.com>
wrote:

[2018-02-09 23:07] qingpeng commented on #7
Any new solution for this other than launching an Apache server?

Also, I couldn't read a .bed file from local directory, as shown above...

[2018-02-10 01:23] jrobinso commented on #7
You can use any server meeting the requirements described here:  https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements

Others have configured Jupyter to support this, and I understand the latest Jupyter is configured like this out-of--the box.   However I cannot help you with Jupyter configuration,  I am not an expert.  Do our example notebooks work for you?  Have you followed the insta

[2018-04-20 08:11] dridk opened #10 "cannot install jupyter with conda"
[code]

[2018-05-02 20:39] jrobinso commented on #10
Do you have write permissions to /usr/local/share/jupyter  ?

[2018-05-02 22:42] ishanley commented on #10
Might try:

`jupyter nbextension install igv --py --user`

[2018-06-21 18:54] ijoseph opened #11 "Changing References does nothing"
Greetings, thanks for a great piece of software.

When I attempt to change the reference used (e.g., in order to use `hg38` rather than `hg19`) [according to the syntax specified in the example](https://github.com/igvteam/igv.js-jupyter/blob/master/examples/API%20Example.ipynb): `igv.Reference(fasta_url=...)`, nothing happens. I must use camelCase for my parameter names instead: `igv.Reference(fas

[2018-11-21 13:53] a-slide commented on #11
ref = Reference(id="GRCm38", fasta_url="./References/GRCm38_PRI_genome.fa.fai", index_url="./References/GRCm38_PRI_genome.fa.fai")

This worked for me, but it required a lot of tinkering around...

Such a shame the package has not been documented and developed further, because the idea is awesome

[2018-11-21 17:05] jrobinso commented on #11
Thanks @ijoseph .   The package hasn't been documented and developed because it didn't really catch on, and I'm a single person spread across several projects.     Of course, maybe it didn't catch on because its not documented well.  What features or additions beyond proper documentation do you think it needs to be a viable package?   I do not personally use Jupyter.

[2018-11-21 17:18] a-slide commented on #11
Hi @jrobinso,
First, thanks a lot because I love the concept of having IGV running inside Jupyter. It is very handy to have a nice self-contained end to end analysis.

I would say that one of the may drawback is that the interface is not very pythonic, which makes everything hard to use in jupyter. Since the function/class args are not explicitly declared in the signatures, the only way to find th

[2018-11-21 17:21] jrobinso commented on #11
@a-slide Good point!  It's not pythonic because I'm not pythonic,  however, I am using python now for another project and I am getting better.   I would like to come back to this one and wrap it up well,  so please do open issues for your other suggestions.   It would be helpful.

[2018-11-21 17:34] a-slide opened #12 "Solution for notebook sharing with embed IGV widget"
When sharing a notebook or exporting to HTML the IGV widget does not display, which is normal since the link with the data is broken.
Is there any way to save the data for the selected window inside the notebook, similar to the the offline plotly mode ?
I understand that it would require quite a lot of work, so an alternative could be a functionality to display a snapshot of the selected locus in

[2018-11-21 17:36] a-slide commented on #12
OK I forgot to read the other issues first This is definitely similar to #1

[2018-11-21 17:46] jrobinso commented on #12
This is a great idea!  I am working on a command line tool to do something very similar in python  (igv.js-reports).    It also requires some changes to igv.js.   When that is functional this should be doable as well.   It requires the package "pysam".

[2018-11-21 17:49] a-slide commented on #12
Awesome.
Pysam is a robust dependency, I don't think anyone will complain.
I am happy to beta test the functionality when you have a working prototype.

[2018-11-21 19:18] ijoseph commented on #11
Hm, yes, agreed with, @a-slide . It's almost there, just more documentation and error checking would make a huge positive difference, I think.

But, this is my last day in the BioTech field (leaving my current company for a non-BioTech) one, so I suppose I have little horses in the race moving forward…

[2018-12-19 18:05] amirshams84 opened #13 "Install igv on Jupyter lab"
Errored, use --debug for full output:
ValueError: "igv" is not a valid extension:
No `jupyterlab` key

[2018-12-19 18:49] jrobinso commented on #13
Thanks for the report, we don't yet support jupyter lab.   This has been a dormant project for sometime due to lack of staff, but we plan to pick it up again in the new year.    I'll leave this open and interpret it as a request to support jupyter lab.

[2018-12-20 17:46] amirshams84 commented on #13
Thanks
you are awesome by the way

Amir

[2018-12-21 04:46] jrobinso commented on #13
Thank you very much @amirshams84.   I'm actually working on this project now and will have an update in January.  As I'm not a jupyter, or jupyter lab user I might ask for your help testing on Jupyter lab.

[2019-01-02 22:58] jrobinso commented on #11
@a-slide I've started a major revision of this package.  The new interface is much simpler, particularly if you are familiar with igv.js.   Basically it mimics the igv.js API using python dictionaries where json-like config objects are specified in igv.js.   The dictionaries are converted to JSON and passed to the front end as messages.   I also added docstrings, but I'm not sure what you mean by

[2019-01-02 22:59] jrobinso commented on #9
This is no longer an issue with the latest Jupyter notebook.

[2019-01-02 22:59] #9 closed

[2019-01-02 23:00] #10 closed

[2019-01-02 23:34] jrobinso commented on #13
Hi @amirshams84 ,  after some investigation I have discovered that it is impossible, apparently, to write an extension of this type (involving javascript & python)  that works in both notebook and lab.   I'm currently focused on notebook.   I might start another project for Jupyter Lab at some point.

[2019-01-02 23:36] jrobinso opened #15 "Add image output API"
Add a method to output a png and/or svg file.  See issue #1

[2019-01-04 10:42] a-slide commented on #15
Hi Jim,
Thanks a lot for this new version. I gave it a try this morning and it is much better than the previous one.
Regarding the image output the rendering is great but for svg the picture extends outside of the image frame (when opening with inkscape for example).
A nice feature would also be to have a output of the entire widget and not only the selected track.

Thanks again
Adrien

[2019-01-04 11:09] a-slide opened #16 "Pythonisation"
Here are a few suggestions to pythonise the package:

- Raise an explicit exception when a wrong argument in the dict is passed to "Browser" or "load_track"
- Check that local files passed are readable (os.access(fp, os.R_OK))
- Docstring are better, but a description of the args would help when people want to know more about the functions (displayed with shift+tab in jupyter)

Thanks

[2019-01-04 11:30] a-slide opened #17 "Various display improvement suggestions"
Here are a few remarks and suggestions to improve the tracks display.

- The "Embedded Features" option is a great idea. Nothing to say, it is very convenient and works well.
- Bam files rendering improved a lot in the last version but for some reason displayMode = "SQUISHED" or "COLLAPSED" do not seem to work (whereas it does for vcf files)
- It would be great to have a possibility to reorder the

[2019-01-04 11:31] a-slide commented on #8
I believe this is solved in the last version of the package

[2019-01-04 16:36] jrobinso commented on #17
Thanks for the feedback.   I'm aware of the cog and menu problem, also the +/- zoom buttons don't show up for me.  I think this is some CSS problem,  we'll look at it next week.

[2019-01-04 16:42] #8 closed

[2019-01-04 17:37] jrobinso commented on #15
@a-slide  There is a function on igv.js browser to create an svg document for the entire browser (widget).  The object of this ticket is to expose it, something like

b.to_svg()

However, where should the output go?   Probably a file, not in cell output.   We could open a file dialog from the browser to "download" it as we do now in the popup menus,  or return it to python using a Comms message an

[2019-01-04 17:39] jrobinso commented on #15
@a-slide Actually maybe cell output would be useful, then it could be saved.   I suffer from having zero experience using a notebook myself and don't really have a feel for how people would use this.

[2019-01-06 01:52] jrobinso commented on #15
OK, makes sense.    Without resorting to hacks it looks like the only legit
way to export cell output is from the server (python).   So this might
entail sending SVG to the server via a Comms message, only for the server
to send it back to the client (via whatever mechanism they use) to be
inserted in the DOM.    I can't find any documentation on manipulating the
DOM from an nbextension.   If runn

[2019-01-06 03:11] amirshams84 commented on #13
That would be great Jim,
Let me know when is the good time to test it on Jupyter Lab
Regards
Amir

On Wed, Jan 2, 2019 at 6:34 PM Jim Robinson <notifications@github.com>
wrote:

[2019-01-10 22:07] jrobinso commented on #15
I've implemented this but it requires 2 function calls
(1)  browser.get_svg()
(2) browser.display_svg()

The first sends a message to the front end to create an SVG image representing the current view.   The SVG is then sent to the server (python) via a message and stored on the "Browser" object.   The second call displays the browser in the cell.   2 calls are necessary because the messages are 1

[2019-01-10 22:08] #15 closed

[2019-01-11 19:02] jrobinso commented on #12
@a-slide I have a couple of solutions for this.  First SVG output, see issued #15.

The second solution is loading tracks using dataURIs.    There is another project, igv.js-reports, for doing this that will be released sometime next month.    I pushed an example notebook, snippet below.

The SVG output option will be pushed to pypi soon.

[code]

[2019-01-18 10:15] psychemedia opened #20 "Running a demo on MyBinder"
I was wondering if it would be possible to run the `igv.js-jupyter` demo notebooks on [MyBinder](https://mybinder.readthedocs.io/en/latest/)?

Presumably an IGV server would need to be started in the container first? (I'm new to IGV...)

[2019-01-18 17:24] jrobinso commented on #20
I'm not familiar with MyBinder but igv.js is a pure client program, there is no server.    Its embedded in many things, that's what its designed for.

[2019-01-18 19:55] psychemedia commented on #20
MyBinder builds and launches a Docker container based on the contents of a Github repo and particular config files specified within it ([docs](https://repo2docker.readthedocs.io/en/latest/config_files.html#config-files)), so you can provide runnable demos of a repo. The build process is sensitive to the presence of `setup.py` files and will also build / install those.

You can run this repo (and e

[2019-01-18 20:05] jrobinso commented on #20
Yes,  I see an issue, not sure what it is.   I'll look into it.

On Fri, Jan 18, 2019 at 11:55 AM Tony Hirst <notifications@github.com>
wrote:

[2019-01-18 21:00] jrobinso commented on #20
@psychemedia I think you have to enable the igv extension,  pip install is not enough.   Sorry I'm a python nube and jupyter utra nube.   Try this after installing and before starting jupyter notebook
jupyter nbextension install --py igv
jupyter nbextension enable --py igv

[2019-01-18 21:03] jrobinso commented on #20
Also, I'm not entirely clear on what the --py option does, it might not be the right thing for your environment.

[2019-01-19 00:00] psychemedia commented on #20
Ah, yes, that could be it.

Many extensions I use are auto-installed/enabled ([howto](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Distributing%20Jupyter%20Extensions%20as%20Python%20Packages.html#Automatically-enabling-a-server-extension-and-nbextension)) and I've got out of the habit of checking that step.

[2019-01-19 00:16] jrobinso commented on #20
@psychemedia Thanks for that tip, I wasn't aware of that.   I build it into the next release.

[2019-01-19 00:19] jrobinso commented on #20
@psychemedia BTW,  do you know what the "--py" flag does in those install instructions?  I can't find that documented anywhere.   --sys-prefix and --user are,  but is  "--py" neccessary and what does it do?

[2019-01-22 18:15] sunworshipper opened #22 "multiple bigwigs in one track?"
Hi,

I love the jupyter integration.  Works very well!
Is multiple file source overlay in one track possible?
I am looking to overlay bigwig data.

kind regards

[2019-01-22 21:17] jrobinso commented on #22
Thanks, and thanks for being an early adopter.  I am not active in the python or jupyter communities so feedback is especially important.

The following should work for the object you send to loadTrack.   In general you can use any options described here for tracks, although in this case the merged option is not yet documented:  https://github.com/igvteam/igv.js/wiki/Tracks-2.0

[code]

[2019-01-22 23:52] sunworshipper commented on #22
<img width="1033" alt="screen shot 2019-01-22 at 11 49 09 pm" src="https://user-images.githubusercontent.com/8853848/51573321-b3b38c80-1ea0-11e9-9913-d9092526225c.png">
Exactly what I was looking for! Thank you!

[2019-01-22 23:52] #22 closed

[2019-02-06 16:29] #11 closed

[2019-02-14 22:11] sooheelee opened #23 "'IGV Browser not ready'"
Hi Jim,

I'm attempting to run igv.js-jupyter in a FireCloud Jupyter Notebook. I'm using the example notebooks you provide and I get the 'IGV Browser not ready' message that does not resolve over time. Is there something I should be doing to get past this?

Here are my specs:
![screenshot 2019-02-14 17 10 27](https://user-images.githubusercontent.com/11543866/52820959-75faeb80-307b-11e9-91ad-b1590

[2019-02-14 22:25] jrobinso commented on #23
Did you install and enable the nbextension?  What are the steps you used to
install?

On Thu, Feb 14, 2019 at 2:11 PM sooheelee <notifications@github.com> wrote:

[2019-02-15 16:29] sooheelee commented on #23
I used `pip install igv`.

[2019-02-15 16:38] jrobinso commented on #23
On the firecloud server?  That should be enough but you might have to enable the extensions

jupyter nbextension install --py igv
jupyter nbextension enable --py igv

I'm actually a bit confused myself on the process for installing an extension on a share Jupyter server.  @tmtabor should know,  Thorin can you comment?    The symptom Soo Hee is seeing leads me to believe the extension is not instal

[2019-02-15 16:53] sooheelee commented on #23
I'm using the Jupyter Notebooks _tab_ of FireCloud, which allows you to run a notebook on a standalone compute engine instance, specifically Dataproc. I just noticed https://github.com/igvteam/igv.js-jupyter/pull/21, but this was merged 26 days ago and the last release is from 28 days ago. Currently, here is what I'm seeing in the notebook:

![screenshot 2019-02-15 11 53 12](https://user-images.gi

[2019-02-15 16:55] sooheelee commented on #23
What I ultimately need is to be able to visualize BigWig files in a FireCloud workspace, towards illustrating the GATK gCNV workflow.

[2019-02-15 17:01] sooheelee commented on #23
I am trying to debug and really appreciate the help. Towards debugging I found https://github.com/Calysto/notebook-extensions/issues/4 and if I `jupyter nbextension list`, I see:

![screenshot 2019-02-15 11 59 35](https://user-images.githubusercontent.com/11543866/52871988-5d411300-3119-11e9-836f-b3fdf70d5ef4.png)

Not sure if helpful but I thought I'd share.

[2019-02-15 17:13] jrobinso commented on #23
Did you pip install this on the Firecloud Jupyter server,  or on your client machine, or both?

[2019-02-15 17:41] sooheelee commented on #23
My client machine, a Google Compute Engine instance. I have a script that `pip install igv` plus GATK when the instance is created.

[2019-02-15 17:44] jrobinso commented on #23
That won't be enough,  it needs to be installed on the server.   Having the admin run pip install igv on the server might be enough, but let's wait for @tmtabor to respond before trying that.

[2019-02-15 17:45] sooheelee commented on #23
Ok. Here's some more information on the Jupyter Notebook (aka Leonardo) - FireCloud relationship: https://github.com/DataBiosphere/leonardo

[2019-02-15 17:53] jrobinso commented on #23
Who administers this?  IGV is a Jupyter extension, with python (server) and javascript (client) parts.   The admin will definitely need to be involved in the installation and should be looped into this conversation.

[2019-02-15 17:56] sooheelee commented on #23
Yes, I have asked @MatthewBemis and @kyuksel to weigh in.

[2019-02-15 18:26] tmtabor commented on #23
I have seen this sort of error before. It usually happens when Jupyter has been installed as root, but you're trying to install a Jupyter extension from a user account.

What happens is that when you install Jupyter, it creates the directory `/usr/local/share/nbextensions/` to contain its extensions. But if you're installing Jupyter as root, user accounts aren't going to have write permission to t

[2019-02-15 18:45] rtitle commented on #23
@tmtabor @sooheelee would this work?
[code]
I think this should install the extensions in user space?

Otherwise, Terra notebooks support plugging in "user scripts" which allow you to install/run things as root when the notebook server launches. That also might be a path forward here.

[2019-02-15 18:53] sooheelee commented on #23
Thanks @tmtabor for the insight and @rtitle for a potential solution. I tried adding `--user` but I still get some Xs when I `jupyter nbextension list`:

![screenshot 2019-02-15 13 50 58](https://user-images.githubusercontent.com/11543866/52877728-d1cf7e00-3128-11e9-9e73-593067d0f4c1.png)

[2019-02-15 19:02] sooheelee commented on #23
I didn't realize the `custom script` is run with root privileges, so I am waiting for a new cluster to form where I've added the extension-install to the script.

[2019-02-15 19:05] jrobinso commented on #23
@sooheelee @rtitle I think this extension will be of broad interest to Firecloud users.   Could it be installed as part of the image for everyone?

[2019-02-15 19:16] sooheelee commented on #23
Well, even with the custom script containing:
[code]

on a fresh cluster, I get the same errors I show in the last screencapture above (_https://github.com/igvteam/igv.js-jupyter/issues/23#issuecomment-464159151_).

What can I try next? Really appreciate all the support here. Definitely @jrobinso @rtitle I think the igv.js-jupyter extension is of great interest to researchers.

[2019-02-15 19:28] tmtabor commented on #23
In theory, the X's for _nbextensions_configurator_ shouldn't affect igv since that's a [different nbextension](https://github.com/Jupyter-contrib/jupyter_nbextensions_configurator).

But you can probably fix them by installing it as root (or with `--user`) as well.

[2019-02-15 19:39] rtitle commented on #23
Yeah I'm not sure those red X's matter. I did the following as root:
[code]
and this in a notebook:
![image](https://user-images.githubusercontent.com/5368863/52880204-56bd9600-312f-11e9-80e0-6dfd5e42d401.png)

No cell errors but I do see errors in browser console:
![image](https://user-images.githubusercontent.com/5368863/52880265-7eacf980-312f-11e9-9e07-01e72b9880b8.png)

Any idea what this mean

[2019-02-15 19:42] rtitle commented on #23
Is there a serverextension that needs to be installed in addition to a nbextension?

[2019-02-15 19:46] rtitle commented on #23
First we need to get it working. :) But yeah then we consider installing it by default.

[2019-02-15 20:02] jrobinso commented on #23
@rtitle this is both a server and nbextension,  but pip install should install both.      I'll see if I can reproduce this and get back to you.  Stay tuned.

[2019-02-15 23:41] jrobinso commented on #23
@sooheelee @rtitle @tmtabor
OK, Helga was able to reproduce the  "IGVBrowser not ready" with the "igvcomm not in registry error", but explicitly installing the nbextensions resolved it.  @helgathorv correct me if I'm wrong here.  The explicit install/enable should not have been neccessary, we followed instructions [here]( https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Distribu

[2019-02-16 14:35] sooheelee commented on #23
Thanks, @jrobinso @helgathorv for these instructions. They work great on my laptop. It's a geat feeling to be able to interact with the data via the embedding. I hope @rtitle can enable this functionality on FireCloud Notebooks soon.

<img width="969" alt="screenshot 2019-02-16 09 33 14" src="https://user-images.githubusercontent.com/11543866/52901198-1cef9c80-31ce-11e9-8c6d-18e7b3fb1b23.png">

[2019-02-20 15:21] sooheelee commented on #23
### Update and follow-up question
With permission, I've moved my secondary analyses off of FireCloud for now. I need **a heatmap visualization of germline copy-number variants** derived from WGS samples, where the heatmap coloring corresponds to copy number. Yesterday I tested out three file formats towards visualization. I am hoping you can tell me if I've missed some way of getting to where I ne

[2019-02-21 06:48] jrobinso commented on #23
Seg files do not have visibility window restrictions, they even work at whole genome, so I'm not sure what is going on here.  Possibly the segments get too small to see.  Please open an issue in igv.js  on this issue and attach an example seg file that reproduces the problem.   I'm closing this issue since the "browser not ready" problem is resolved.

[2019-02-21 06:48] #23 closed

[2019-02-22 17:10] sooheelee commented on #23
I suspect the diploid segments (in white) are given equal visibility as the non-diploid segments of interest (in blue and in red). I will see if removing CN=2 segments allows for better representation at the contig level before I open a new issue. Would it be okay for me to open an issue requesting heatmap representation of bigwigs in igv.js-jupyter?

[2019-02-22 17:33] jrobinso commented on #23
@sooheelee The request should be to igv.js,  this is not about jupyter,  but that is not likely to get prioritized anytime soon.

[2019-04-05 09:54] khourhin opened #25 "Specify local file paths outside the project folder"
Hello,

Everything works fine when I'm importing tracks from files located in the current working directory (where the ipynb is located) or in subfolders. I'm specifying tracks like so:

[code]

I would like to be able to load tracks from any place in my local disk (using relative or absolute paths) but I did not succeed so far. I tried:
```"url":"files/../my.bed"```
```"url":"files/absolute/path/

[2019-04-08 18:34] jrobinso commented on #25
Hi @khourhin .  Technically you can't load local files via a path into any javascript browser, its not allowed.  What's happening with jupyter is those paths are being translated to URLs and loaded from the Jupyter web server running on your machine.     I'm not intimately familar with the Jupyter path magic, but you should be able to get it to work via symbolic links from a Jupyter directory.

Th

[2019-04-11 13:52] khourhin commented on #25
Thanks for the help ! Indeed, I could use symbolic links.
Pasted directly in the web browser, this last URL returns a jupyter 404.

I'll look a little bit more into this and let you know if I find something else.

[2019-04-11 14:27] jrobinso commented on #25
A 404 means "not found".    You need to construct a URL that works in the web browser address bar, after that it should work as a url in IGV.    I'm not a jupyter expert, but I would expect the URL to start with something like  localhost:8888/files/....      If you want to use arbitrary directories you could try adding symbolic links to them from the directory that is working, i.e. the directory w

[2019-07-15 03:58] #25 closed

[2019-07-15 03:59] jrobinso commented on #20
auto-enabling should be happening now.

[2019-07-15 03:59] #20 closed

[2019-07-15 03:59] #16 closed

[2019-07-15 04:00] #1 closed

[2019-07-15 04:00] #12 closed

[2019-07-15 05:39] khourhin commented on #25
Yes, sorry for the late reply. I intended to dig a little more on file serving with Jupyter and put some guidance here but so far I had no time for this. Hopefully I will at some point ... Thanks again for the help !

[2019-07-15 05:48] pwrose opened #26 "Enable trackclick events in igv-jupyter"
When a feature is clicked, this event would report the start and end position of the feature.

[2019-07-29 12:42] HBegali commented on #23
@sooheelee
@jrobinso
Thanks for ur comments

[2019-07-31 21:56] JasonJWilliamsNY opened #27 "Extensions enabled, but .show() .load_track() don't work"
Hope everything needed is in the screenshot. At best I get 'IGV Browser not ready'. Working on a Jupyterlab instance (JL vs. 1.0.4, python 3.7.3) inside a custom Docker container. Any clues to help me debug?
<img width="906" alt="igv-ss" src="https://user-images.githubusercontent.com/7266775/62251003-78989580-b3bc-11e9-8a49-1dca851e37ab.png">

[2019-08-05 19:31] jrobinso commented on #27
Hi @JasonJWilliamsNY , apologies for the delayed response.   Jupyter lab is not supported,  I would be surprised if it works as the extensions api is changed completely.   I use the term api loosely, there is not stable api published yet.

[2019-08-05 21:51] JasonJWilliamsNY commented on #27
Thanks for your work on this and the response to the. It's such a shame and I hope they release a solution that would allow many of these valuable notebook extensions to be more easily carried over.

[2019-08-05 21:51] #27 closed

[2019-08-16 10:32] dakomura opened #28 "Error when running show()"
I installed igv-jupyter on conda virtual environment by running the following command and no error occurred.

[code]

But when I ran the following command on jupyter
[code]
, jupyter diplayed nothing and  I got the following error message in the background.
[code]

What happened?

[2019-08-16 17:28] jrobinso commented on #28
I don't know I can't reproduce that.   To be clear you are running Jupyter Notebook correct, not Jupyter Lab.   Could you share your notebook file?

[2019-08-17 03:25] dakomura commented on #28
The problem was solved.
What I did was to run
`
jupyter serverextension disable --sys-prefix jupyter_nbextensions_configurator
`
because the error similar to [this](https://github.com/jupyter/notebook/issues/2584) occurred.

Thank you anyway.

[2019-08-17 03:25] #28 closed

[2019-09-26 21:20] vanetten opened #29 "IGV Browser not ready"
Hey Jim!

I stumbled upon igv-jupyter and tried it out on this Gen3 Jupyter environment I'm working on.
I have this odd issue, which might not be an igv-jupyter issue, more likely a problem with my use of it.

When I open a notebook, and run it, IGV does not b.show(), and I get an "IGV Browser not ready" message from b.load_track, with a "Could not open comm -- Error: Class igvcomm not found in re

[2019-09-26 21:46] jrobinso commented on #29
My first instinct would be to say the the nb extension is either not installed, or not enabled, but the fact that it works after opening a new browser would suggest that it is.   Could you give us the exact steps you took to install it?   I'm ccing @tmtabor who is the expert on all things notebook.

@tmtabor @helgathorv Any ideas?

Jupyter notebook is at times a mystery to me.

[2019-09-26 22:44] tmtabor commented on #29
I suspect there's some sort of timing issue going on with the start up of the kernel.

That is, when you first launch a notebook, it starts a Python process on the server which holds the state of the notebook in memory. It also tells your browser to load all the client-side assets, like the widgets and notebook extensions.

Jupyter needs both of these to load before it can open the comm.

If you s

[2019-09-27 00:03] jrobinso commented on #29
Thanks @tmtabor .   Anything we can do about that in the extension, such as print a message to the cell that the kernel is not ready?  Its not immediately obvious how to do that as the error is thrown in the client.  Perhaps we can catch it there and popup an alert dialog?

Also, any idea on how to make this happen (simulate it)?

[2019-09-27 01:32] vanetten commented on #29
If it helps, I can give you access to our Gen3 instance, and the notebook.

Bill

Sent from my iPhone

[2019-09-27 15:18] tmtabor commented on #29
I'd be happy to take a look. Being able to poke around in the javascript
console and examine the error would help track down the cause of the issue.

Thorin

On 9/26/19 18:32, vanetten wrote:

[2019-09-28 06:21] vanetten commented on #29
Give me a google ID for you.

Bill

Sent from my iPhone

[2019-09-29 17:45] tmtabor commented on #29
tmtabor@cloud.ucsd.edu

[2019-09-30 12:41] vanetten commented on #29
You should be authorized now.
I sent directions and the notebook to tmtabor@cloud.ucsd.edu.

Bill

[2019-09-30 17:09] tmtabor commented on #29
I have taken a look and I believe the problem is caused by the way that Jupyter loads extensions.

In particular, the IGV Jupyter extension consists of both Python code, which runs on the server, and Javascript code, which runs in your browser and displays the visualization.

When Jupyter installs the extension, it places the Python code on your Python PATH. It then configures Jupyter to load the

[2019-09-30 17:14] vanetten commented on #29
Is there something you suggest I do differently?
Or is the problem in my setup, that I’ll just have to open and run it twice?

[2019-09-30 18:53] tmtabor commented on #29
Unfortunately this is a Jupyter design decision that's a problem at times. Depending on your end goals, things I might suggest include:

If you control what packages are installed by default on your platform, installing IGV Jupyter by default gets around this problem because it will always get loaded when a notebook is opened.

Or, if you're creating a notebook to share with others, having a block

[2019-09-30 19:36] jrobinso commented on #29
@tmtabor Is there anything we can do with how this is packaged?  Also, for my education, why does it just work for most people (I can install it) but is not working with Bill's setup.

[2019-09-30 19:44] tmtabor commented on #29
The most common use case is that someone installs the extension using the command line and then opens a notebook to try using it. In this case the extension simply works.

The issue that Bill ran into comes from installing the extension inside of a notebook after it's already been opened, and them immediately attempting to run the extension.

Unfortunately, I'm not aware of any way to package it t

[2020-01-13 12:21] a-slide opened #32 "Colors not showing on color coded bed tracks"
Hi @jrobinso,

I recently generated bed tracks with a color-code field in the 9th column as defined in the standard format. Here is an example file head.

[code]

This work fine with the standalone IGV version but all the annotations are black with the Jupyter client.

**IGV standalone**

![igv_snapshot](https://user-images.githubusercontent.com/5701192/72255515-d8979700-35fe-11ea-9d1c-b75e37c0bdd

[2020-01-13 20:56] jrobinso commented on #32
OK, when you say "standalone IGV" are you referring to IGV desktop or an igv.js or igv-web instance?   I'll look into it,  if its possible to zip and attach the igv-reports generated html file that would be helpful.

[2020-01-13 20:58] jrobinso commented on #32
Those rgb values should not be quoted, btw, that might be the issue.

[2020-01-13 21:06] jrobinso commented on #32
Could you try removing the quotes and retesting?  There is a note in IGV desktop code that refers to Excel adding quotes to rgb strings, so it strips them, this is not done in igv.js.   I'm adding that now, but it would also be good to confirm it is the problem.

[2020-01-13 21:25] a-slide commented on #32
Sorry for the confusion, by standalone I am referring to IGV desktop. I will have a go a removing the quote and see what happen.

[2020-01-13 21:27] jrobinso commented on #32
I reproduced the problem in igv.js, it seemed to be the quotes.  I'm moving this issue to that project,  I'll push an igv.js fix but it won't be released immediately.

[2020-01-27 19:36] njbernstein opened #33 "bam file won't display"
Hi there,

Trying to track down why my bam wont display, and I don't get any errors from IGV.
![Screen Shot 2020-01-27 at 11 34 00 AM](https://user-images.githubusercontent.com/6864886/73207159-16191b80-40f9-11ea-8a4b-d2a92cf0286d.png)

Nothing returns. any help would be much appreciated.

[2020-01-27 21:31] jrobinso commented on #33
I suspect its the bam path.  If you can use Chrome or some other browser with "devtools" look at the url that path is resolving to.

[2020-02-07 09:16] thondeboer commented on #13
I would also really like to be able to run KGV in JupyterLab...JupyterLab is going to be the future of Jupyter Notebooks and it would be a pity if IGV would be left behind...Is there any idea if this is going to be available? It has been a year since there was some comments about this. Which you may have interpreted as lack of interest, but for my specific use case, JupyterLab is the only option..

[2020-02-07 15:49] jrobinso commented on #13
Hi @thondeboer yes it will be available.   Until recently there was an explicit warning to extension developers on the Jupyter site that the API was unstable and guaranteed to change.  I see they have removed that.    I will re-open this, but don't have an ETA at this time.

[2020-05-04 11:14] Sotdo opened #34 "How to use other fasta file as the reference"
Hi,

I want to know if igv-jupyter supports using other fasta file as the reference? For example, I have a customed reference file, can I use it as the reference?

If it can be done, how can I make it?

Thanks

[2020-05-14 23:50] hurleyLi commented on #33
Hi,
I'm having the same problem. Everything is installed and enabled, and I got a confirmation when I launched jupyter lab `igv enabled!`. But nothing happened when I run code similar to above, and there's no error message either. Do you have any idea what might cause this?
Thanks!

[2020-05-14 23:54] jrobinso commented on #33
Hi, first igv-jupyter does not support jupyter lab, did you mean jupyter notebook?

[2020-05-15 00:03] njbernstein commented on #33
My issue was dumb I needed to use the full like so:
`bam_path = "http://sci-pvm-nicholas:10000/tree/projects/genomics/ukbb/ch/data/siddhartha_2017_subset_crams/5989838_23163_0_0.subset.sorted.bam"`

[2020-05-15 00:03] #33 closed

[2020-05-15 00:07] jrobinso commented on #33
@njbernstein Ah ok, thanks for letting me know.  There is a way to use relative paths for files  using "file magics".   I do python so seldom the details escape me, but I did get it to work once.

[2020-05-15 00:57] hurleyLi commented on #33
working not after switching from lab to notebook. Thanks!

[2020-06-26 18:13] callieboskin commented on #29
Hello! I know this is an old thread, but I have the same issue (b.show() doesn't show anything, and then 'IGV Broswer not ready' when I try to load a track), but it isn't resolved by opening a new tab and trying again. @jrobinso can you explain what you meant about installing/enabling nb_extension?

[2020-06-26 18:48] jrobinso commented on #29
I will defer to @tmtabor wrt "installing/enabling nb_extension".    However what version are you using?  This was solved long ago, or so we thought.

[2020-06-26 18:49] jrobinso commented on #29
Closed accidentally.

[2020-06-26 18:51] callieboskin commented on #29
Your step-by-step instructions [here ](https://github.com/igvteam/igv-jupyter/issues/23)fixed it! Thanks!

[2020-06-26 19:08] jrobinso commented on #29
@callieboskin OK that's great but do those instructions differ from our readme instructions?  That's a rather long thread so I'm not sure what you are referring to precisely.

[2020-06-26 19:11] callieboskin commented on #29
Sorry, the below instructions are what I'm referring to.
Create the virtual environment
- conda create -n test python=3.7.1
- conda activate test
- conda install pip
- conda install jupyter

Install IGV -- note that you would not include the --sys-prefix flag if not in a virtual environment
- pip install igv
- jupyter serverextension enable --py igv --sys-prefix
- jupyter nbextension install --py

[2020-06-26 19:30] jrobinso commented on #29
Those instructions will install a deprecated version of igv.   The supported version is "igv-jupyter".    The only difference is the pip install line, which should be

[code]
 Those are the same instructions on pypi and distributed in the readme.

[2020-06-26 19:44] callieboskin commented on #29
Interestingly, when I did the first set of instructions (pip install igv), I was able to get b.show() to work, but when I repeated and did pip install igv-jupyter, b.show() stopped working.

[2020-06-26 19:49] jrobinso commented on #29
Interesting indeed.  Did you start with a fresh environment?

[2020-06-26 20:05] jrobinso commented on #29
For now stick with "igv", its only 1 version behind.   I'm at a loss at the moment.

[2020-06-26 20:11] callieboskin commented on #29
I did start with a fresh environment, yes.
It's not working perfect though - I'm unable to load bam files. I'm getting an "error loading track data". It feels likely it's a silly mistake on my part, but if you have any suggestions please let me know!

Thank you for your help, by the way! I'm pretty new to this so all advice is helpful!

[2020-06-26 20:52] helgathorv commented on #29
@callieboskin Are you trying to load the same BAM files in both cases?

[2020-06-26 21:17] callieboskin commented on #29
I actually reran everything again, and managed to get b.show() to work with pip install igv-jupyter. However, my bam files still don't load: I get "Error loading track data".
I'm running Jupyter off of Putty, and it seems like restarting everything works sometimes.

[2020-06-26 23:17] callieboskin opened #35 "Unable to Load Local Bam File"
Hi,
I'm unable to load local bam files with IGV-Jupyter. I'm getting an error that says Error Loading Track Data when I try to load a local bam file. The bam file path is correct, as I'm able to use the same file in a different part of the notebook with no issues. I'm able to use the same file on my local IGV app so I don't think it's the bam file itself. Additionally, I'm able to load track succe

[2020-06-26 23:25] jrobinso commented on #35
Important to note that igv.js is a webapp so the path must be a URL, not a file path.     The path you entered above will be converted to a URL by the browser,  to see what the URL is open developer tools in chrome and look at the "network" tab.

If you are trying to serve this file from the jupyter server you can use something called "files" magic.   I'm not a python expert but our example notebo

[2020-06-26 23:27] callieboskin commented on #35
I'll try that! Thanks for the quick response!

[2020-06-27 00:12] jrobinso commented on #34
Use a "reference" object instead of a "genome" object during initialization.    As pointed out in the readme configuration is described in the igv.js wiki.   The reference object is described here:  https://github.com/igvteam/igv.js/wiki/Reference-Genome

[2020-06-27 00:12] jrobinso commented on #29
I think this is resolved.

[2020-06-27 00:12] #29 closed

[2020-06-27 00:22] jrobinso commented on #13
@thondeboer @amirshams84 I'm just not going to have time to do this but would support someone else (support in the sense of making igv.js changes if needed).   Currently I'm the primary developer for IGV Desktop, igv.js,  juicebox.js, some other projects, and this.   Just being realistic.   Anyone interested?   Its not trivial but probably easier if you work regularly in python and Jupyter (unlike

[2020-06-27 00:22] #13 closed

[2020-06-27 00:24] jrobinso commented on #17
Any issues remaining here are really igv.js ones.  Closing this as there's nothing Jupyter specific.    BTW "SQUISHED" is not a supported alignment track option in igv.js,  rather you explicitly set the alignmentRowHeight to a pixel value.   A value of 1 would the equivalent of IGV desktop's squish.

[2020-06-27 00:24] #17 closed

[2020-06-27 00:25] jrobinso commented on #26
Closing as this is stale.  Good idea but there are so many good ideas, and so little time.

[2020-06-27 00:25] #26 closed

[2020-07-03 05:09] vkullu opened #36 "Entire extend of the deletion not highlighted in notebook"
Hello,
I noticed when I loaded a VCF file from MANTA in the desktop version of IGV, it showed the nice deletion (several kbs) above HBA loci. However when I loaded the same in the jupter notebook, it shows a tick only at the start, but not the entire band over 60kb. Thank you very much for your help.

![Screen Shot 2020-07-02 at 10 05 20 PM](https://user-images.githubusercontent.com/6581358/864338

[2020-07-03 07:42] jrobinso commented on #36
If you can upload an example VCF that illustrates the problem I will look into it.   You can zip it and upload it here, or give me a URL where I can download it.

Also, what version of the Jupyter igv extension are you using?

[2020-07-06 19:13] vkullu commented on #36
Thank you for your reply. These are customer VCFs so I am trying to figure out how to de-identify them within the company so I can share them.  How do I figure out my version of jupyter igv extension?

[2020-07-06 22:45] jrobinso commented on #36
That's an excellent question, if you don't remember what you installed I'm
not sure.

The problem, if there is one, will be with "igv.js".   To see if its been
corrected since this jupyter release you can try loading your VCF at

https://igv.org/app

This is secure, igv.org/app runs in your browser nothing is uploaded.    If
it looks correct there the fix is to update the igv.js version your
noteb

[2020-08-02 03:00] rysterzhu opened #37 "problems when editing output SVG file in Illustrator"
I want to amend the output SVG file in illustrator, but it has too many masks and groups.
Is it possible to output a simple vector diagram?
Or is there an easier way to edit the output SVG vector diagram?

[2020-08-02 03:00] #37 closed

[2020-08-04 17:18] jonn-smith opened #38 "Feature Request: Support for JupyterLab"
The current extensions seem to be for JupyterNotebooks only.  Can you update this codebase to work with JupyterLab as well?

It may be relatively easy - I haven't looked into it myself.  I just know that jupyter notebook extensions are not compatible with jupyter lab.

[2020-08-05 01:33] jrobinso commented on #38
Hi @jonn-smith, Its actually not easy, it will be a major rewrite, and we on the IGV team do not have resources to pursue this.    There are 2 extensions involved, a client and server (python) extension.

[2020-08-05 01:33] #38 closed

[2020-08-05 21:18] mmreich commented on #38
The GenePattern Notebook project, http://notebook.genepattern.org, will be implementing igv.js as a launchable tool within JupyterLab, as part of a collection of bioinformatics tools we're incorporating into the Jupyter architecture. As development progresses, we'll post about this on the @GenePattern twitter account.

[2020-08-06 05:42] #34 closed

[2020-08-06 05:42] #35 closed

[2020-08-06 05:43] #36 closed

[2020-09-11 15:42] cccnrc opened #39 "b.show() AttributeError: 'NoneType' object has no attribute 'session'"
I followed your installation instruction and everything worked well, but when I try:

[code]

I get:

Thank you in advance for any help!

[2020-09-11 17:44] tmtabor commented on #39
The first thing I would do is check what version of `ipykernel` you have installed. [There is a known bug in 4.5.1](https://github.com/ipython/ipykernel/issues/210) where this can happen. If so, you need to upgrade. You can check the version by running:

`pip freeze | grep ipykernel`

If you're running a more recent version of ipykernel than that, the next thing I would check is to make sur eyou h

[2020-09-11 17:47] cccnrc commented on #39
Hi @tmtabor , thank for your rapid answer.

I got both dependencies right:

[code]

[2020-09-11 18:12] tmtabor commented on #39
This is a more unusual error then, but we can try to narrow it down. From the notebook where you're experiencing the error, try running:

`get_ipython().kernel.comm_manager.comms`

This should return a dict object, which is a map of comms (channels of communication between the Jupyter frontend and backend). Ideally there should be one entry in the dict, which is the comm opened by the igv extensio

[2020-09-11 19:36] cccnrc commented on #39
I get:

[code]

[2020-09-11 19:49] tmtabor commented on #39
In Jupyter Notebook, `get_ipython()` should automatically be in the global context once the IPython kernel has started. If not, something odd is going on. Are you using nteract or a non-default kernel like xeus?

[2020-09-11 20:34] cccnrc commented on #39
I got it now, I was trying this on my local machine and not in Jupyter notebook. So sorry if I wasted your time!

[2020-09-11 20:34] #39 closed

[2020-12-03 15:21] cjw85 commented on #13
We have a fork of igv-jupyter that now supports JupyterLab: https://github.com/epi2me-labs/igv-jupyterlab

[2020-12-03 15:49] jrobinso commented on #13
@cjw85 Fantastic!

[2021-01-07 11:56] enushi opened #40 ""Error loading track data" in Jupyter notebook when trying to load local BAM file"
I am trying to visualise the reads coverage of a genome. I run the following code which is supposed to do that, but I get "Error loading track data" when loading the track:

![image](https://user-images.githubusercontent.com/11466352/103889444-1e424f00-50ef-11eb-83c6-5cbb927f194b.png)

In the console I can see the following error:
![image](https://user-images.githubusercontent.com/11466352/1038896

[2021-01-08 05:12] jrobinso commented on #40
I will hazard some guesses, but my Jupyter knowledge has long ago decayed to a tiny kernel,  if it were ever more than that.   @tmtabor is the local expert he might have some ideas.

I suspect the path to the file is the problem.  igv.js does not typically read local files, as a web client it can't,  it reads fils by URL from an http server.   Of course Jupyter is running an http server, and there

[2021-01-08 17:20] tmtabor commented on #40
The problem here is most likely the URL to the file.

I would first double check that you can paste the URL to the file into your browser and have it prompt you to begin a download of it. If you can't download it, then neither can igv.js. I suspect that what you'll see when you paste the URL into your browser is Jupyter displaying a page with some sort of error message.

[2021-01-09 01:19] enushi commented on #40
Thank you for the reply. Reading around the net I got more knowledgable about the issue that reading BAM files causes, so I put the BAM files in the apache server and set the configurations of the server as it is described here https://github.com/igvteam/igv.js/wiki/Data-Server-Requirements. My Jupyter file now looks like the following:

![image](https://user-images.githubusercontent.com/11466352/

[2021-01-09 01:45] jrobinso commented on #40
Not sure, but the fasta files in your javascript config are not going to work unless those are valid URLs , they look like file paths.    Can you load the bam into igv desktop using those URLs?   (Try File > Load from URL and enter http://localhost/BAM/2G.bam).

Rather than setup apache which can be complex,  I think you would have a better chance of success by getting your Jupyter "files" magic p

[2021-01-09 02:14] enushi commented on #40
I just tried loading the bam files into igv desktop via the url in the server (e.g. http://localhost/2B.bam) and it works, I can see the reads as before. The location of the fasta file is not in the apache server but just to make sure that loading from the server works I put it in the server and it still works as before. The only problem seems to be only with the .bam files in Jupyter and in the j

[2021-01-09 03:02] jrobinso commented on #40
Sorry I'm out of ideas.   I'm sure your bam file is o.k.

[2021-01-13 12:29] enushi commented on #40
I changed the load track section by setting the "indexed" to "True" because previously I had it "False" in Jupyter notebook,  now I see no error at all in the console only some warnings

b.load_track(
    {
        "name": "2B",
        "url": "http://localhost/BAM/2B.bam",
        "indexURL": "http://localhost/BAM/2B.bam.bai",
        "format": "bam",
        "type": "alignment",
        "indexed

[2021-01-13 17:30] jrobinso commented on #40
You can ignore the warnings, those are harmless.  I assume you are looking at the same location that alignments are known to exist from IGV desktop viewing.   If you can make your bam available, and point me to the correct fasta to use (or make it available as well)  I will look into it.    I tried clicking the google share link above but it tells me the file does not exist.

[2021-01-13 19:01] enushi commented on #40
Thank you for finding the time to help me, here are the files I am using:

bam file: https://drive.google.com/file/d/1K9zK7PlFB6zVH6gRK9aFnzID9qFwPun4/view
bam index file: https://drive.google.com/file/d/1YhETRWBHm0WeoBKic2OKaDhp8p5zR-UR/view
genome: https://drive.google.com/file/d/1KupeKmYN5CTwPJgyPIrh9IV2JmkeRFvQ/view?usp=sharing
genome index which I am not sure how much is needed but it is this

[2021-01-13 19:25] jrobinso commented on #40
Hi, I haven't tried to use the files yet but I think I see the problem.   There is a sequence name mismatch between the fasta and the alignment file.  The sequence name in the BAM is NC_009697,  the sequence name in the fasta is NC_009697.1.    IGV desktop does some extra "guessing" when there are mismatches,  igv.js uses strict name matching (as does most bioinformatics tools).   You can fix this

[2021-01-13 23:25] enushi commented on #40
It worked! Thank you very much! Wohoo ... :D

[2021-01-14 01:41] enushi commented on #40
Can I please also ask you how did you manage to get the sequence name in the BAM, when I open the BAM file I just get a sequence of hexadecimal values?

[2021-01-14 02:29] jrobinso commented on #40
You need to use samtools

samtools view -H filename.bam

On Wed, Jan 13, 2021 at 5:41 PM Elio Nushi <notifications@github.com> wrote:

[2021-02-26 14:17] Irsan88 opened #41 "IGV Browser with local reference genome fasta file"
Is there a possibility to use a local file as the genome assembly in a IGV browsers embedded in jupyter notebooks? What I have tried is below, but in my browser I get a pop-up saying "Error accessing resource: file:///path/to/my/genome_assembly.fasta.fai Status: 0

[code]

assembly_fasta_file  is the full absolute path to my fasta file and assembly_fasta_file_index to the fasta.fai file

[2021-02-26 16:23] jrobinso commented on #41
No,  javascript cannot load from file:// urls, or know anything about your file system.   There is a way to use "files" magic to let Jupyter server the files by relative URL,  but you have to put them in a specific place.   I forget the details of that,  @tmtabor probably knows.

[2021-02-26 16:23] #41 closed

[2021-02-26 19:01] tmtabor commented on #41
Assuming the file you wish to load is in the same directory as your notebook, you should be able load it with a Jupyter files URL. For example, if your notebook is running at `http://localhost:8888/notebooks/foo.ipynb` and your `genome_assembly.fasta.fai` is in the same directory, the URL for it would be `http://localhost:8888/files/genome_assembly.fasta.fai`. Note that it will only serve the file

[2021-02-26 19:10] jrobinso commented on #41
@tmtabor So is the implication of your last remark is this only works if server and client (i.e. the web browser) are running on the same machine.   If the Jupyter server is remote you would encounter a CORS issue.

[2021-02-26 19:20] tmtabor commented on #41
It should work even if the Jupyter server is remote. It's just that `/files/` endpoints check to make sure the request is actually coming from one of your notebooks before they serve the file's contents. I think this is meant to be a security measure to prevent Jupyter from becoming an arbitrary file host.

[2021-02-26 21:15] jrobinso commented on #41
Ah yes, of course, "referer" will be the host for the page.    Still this is a CORS restriction,  it would fail regardless of any extra checks (if any) performed by Jupyter.

[2021-03-01 09:51] Irsan88 commented on #41
I now keep the local files in the same directory as the .ipynb and use e.g. /files/genome.fasta , it works! Is there a possibility to convert the notebook to html and share it with others, including the packaging of embedded local files ?

[2021-03-01 17:13] jrobinso commented on #41
@Irsan88 I can't think of anyway to do that but @tmtabor might have some ideas.

[2021-03-01 17:25] tmtabor commented on #41
@Irsan88 There are some tools to do similar things, but I am unsure if any of them are exactly what you want. Either way, here are a couple links to help get you started:

* [voila](https://github.com/voila-dashboards/voila) displays a notebook as a stand-alone webapp. It's not a static webpage, but it will run a kernel in the background and serve files.
* [nbconvert](https://github.com/jupyter/nb

[2021-04-19 08:02] JoannaTan opened #42 ""Error accessing resource: presigned url Status:0" when trying to load presigned url to igv-jupyter"
Hi,

I am trying to load my VCF from a private S3 bucket.
I generated a presigned URL and tried to load to igv-jupyter but i kept getting the following message:
"Error accessing resource: presigned url Status:0"

I tried to load the presigned url to IGV on my windows desktop and it works fine. This indicates that the presigned url is working fine.

Is there anything that I need to set in order for

[2021-04-19 16:35] tmtabor commented on #42
It's worth checking the response headers coming from S3. If there is no "Access-Control-Allow-Origin" header in the response, this may be a CORS issue. If that's the case, you'll need to [modify your AWS S3 config](https://aws.amazon.com/blogs/media/deep-dive-into-cors-configs-on-aws-s3-how-to/).

[2021-04-20 08:14] JoannaTan commented on #42
Thank you. I edit the CORS config and it works now.

[2021-04-20 08:14] #42 closed

[2021-05-12 20:02] tmtabor commented on #38
With the latest release, support had now been added for JupyterLab 3.x.

[2021-05-12 20:02] #40 closed

[2021-05-12 20:33] jonn-smith commented on #38
Excellent!  I'm not sure when, but hopefully soon I'll try it out.

[2021-05-22 16:59] edwwlui commented on #35
softlink can be used as a workaround

[2021-06-11 10:18] jamesbaye opened #43 "`.show()` produces no output"
Hi,

I am trying igv-jupyter for the first time, but am getting no output in jupyter-lab.

Install was performed as follows:
[code]

All commands run without errors except `jupyter labextension enable --py igv --sys-prefix` which returns `jupyter-labextension: error: unrecognized arguments: --sys-prefix`.

I tried some variations of the command but none have solved the issue:
`jupyter labextension

[2021-06-11 10:24] jamesbaye commented on #43
Oh, got it... when I launch jupyter-lab from the `igv` conda environment it works (was launching jupyter-lab from the base environment).

[2021-06-11 10:24] #43 closed

[2021-06-28 13:50] Sammi-Smith opened #44 "Feature Request: Support for ROI"
Hi,

First of all, thanks for all your all's work on this project, this is an amazingly useful tool!

I have been exploring the features available in both igv.js and igv-jupyter.  I am particularly interested in the ROI feature described here: https://github.com/igvteam/igv.js/wiki/Regions-of-Interest

I tried calling the `browser.loadROI()` method on a Browser object within igv-jupyter, but ran i

[2021-06-30 19:27] tmtabor commented on #44
Support has been added with the [latest checkin](https://github.com/igvteam/igv-jupyter/commit/2d437f063f527d403e3f153bfd9edc66a1f733dc). This has *not* yet been pushed to a release.

**Example Use**
[code]

If you're interested, you're welcome to check out the code, [build the extension](https://github.com/igvteam/igv-jupyter#development) and verify that the new functionality works. Otherwise, it

[2021-06-30 20:11] Sammi-Smith commented on #44
Fantastic, thanks for such a quick response!  In the meantime, since I opened this issue, I have been experimenting with using `browser.load_track()` with the Annotation track type as a temporary stand-in to display ROIs as a single track, using a call something like this:

[code]

I added in a BED track line to the file to accomplish the second part of my above question regarding coloring the ROI

[2021-07-08 16:55] tmtabor commented on #44
As long as they are supported in the underlying igv.js library, they should be supported in the `b.roi()` method, as that method just passes the options along to Javascript.

[2021-07-16 16:12] tmtabor commented on #44
This update has been released to pip.

[2021-07-16 16:12] #44 closed

[2021-08-12 22:14] mezarque opened #45 "Problems using files/ to access local .fa file"
Hi there, thanks so much for building this package!

I realize that JS is unable to see information about local files from a path, but it appears that several workarounds have been suggested to pass URLs to allow using a local reference .fa file. I've tried using the localhost:8889 URL from the Jupyter notebook and using "files/", with my "genome.fa" and "genome.fa.fai" files in the same directory

[2021-08-13 18:21] tmtabor commented on #45
To help me investigate this issue, are you experiencing this error in JupyterLab, Jupyter Notebook or both?

[2021-08-13 18:45] mezarque commented on #45
I'm running into this error using both JupyterLab and Jupyter Notebook. From my understanding, the error with JupterLab is expected, but the behavior in Jupyter Notebook is not. I'm pretty sure that the install worked successfully, as I'm able to view the hg38 genome as shown in the documentation using web URLs when using this package within a Jupyter Notebook.

[2021-08-13 22:20] tmtabor commented on #45
It took me some time to reproduce this error, but I was finally able to do so in Jupyter Notebook only. I have since checked in a fix. Assuming there are no further issues, it will be pushed to pip next week in release 0.10.2.

In the meantime, if you're comfortable building nbextensions / labextensions from source, you're welcome to check out the most recent code from this repository and verify t

[2021-08-16 17:08] #45 closed

[2021-08-16 22:22] mezarque commented on #45
Thanks so much again for looking into this! Unfortunately I just updated via pip and the issue seems to be persisting. I'm wondering if perhaps there's some issue with how I installed the package? I've tried using both "files/genome.fa" and the full absolute path, and both result in the same hanging issue.

I am able to visualized the human genome just fine, as I mentioned, but I did deviate sligh

[2021-08-17 17:58] tmtabor commented on #45
This could very well be an installation or environment issue. A couple things to check:

* If you go to the command line and run `jupyter labextension list` you should see a list of all installed extensions. In the list should be something like: `@igvteam/igv-jupyter v0.10.2 enabled OK`. This lets you make sure that the igv-jupyter extension is installed, is the correct version, is enabled and che

[2021-08-30 17:38] mezarque commented on #45
Thanks for suggesting this! The example works just fine on my setup, and I was able to confirm the labextension and pip freeze methods work as expected as well.

I'm wondering if perhaps this is an issue with the number of contigs in my file? I'm noticing that when one usually uses b.show() for hg19 for example, the initial view shows all of the chromosomes. Perhaps having a large number of contig

[2021-09-02 10:44] sigurjonaxel opened #46 ".show() produces no output when offline"
Hi,

Thank you for creating this usefool tool!
It works nicely when I run it on a computer connected to the internet, but same setup does not work when the computer is offline.

.show() gives no output, only popup window that says "undefined" when offline.  I'm using the LocalFiles.ipynb example notebook.
Is it to be expected that it will not work offline, or do you think there could be something

[2021-09-02 17:39] tmtabor commented on #46
Thanks for bringing this to our attention. We'll get a better fix in place soon.

In the meantime, you can work offline by turning off loading default genomes. Just add `"loadDefaultGenomes": False` to the browser config. For example:

[code]

This prevents the error that you are seeing when offline.

[2021-09-02 17:39] #46 closed

[2021-09-03 09:16] sigurjonaxel commented on #46
Thank you for the solution to this issue. Works perfectly now when offline.

[2021-10-29 07:31] asmlgkj opened #47 "export information of a variant"
Thanks a lot for this powerful tool.
Can I export export variant information as bam loaded into igv deskstop in the centos byscript

[2021-10-29 16:54] #47 closed, assigned to nobody

[2021-10-30 00:58] asmlgkj commented on #47
thanks a lot, but it is a manual process, is there a way to to in yout tool to replace that in igvdesktop

[2022-01-16 19:32] sagnikbanerjee15 opened #48 "Problems loading GTF file"
Hello,

I am using the following code to load a gtf file but nothing gets loaded. Could you please look into it?

[code]

![image](https://user-images.githubusercontent.com/23457977/149674931-bd426661-5415-4b66-855c-4237948ea603.png)

But once I load it manually, I can see the features

![image](https://user-images.githubusercontent.com/23457977/149674950-b6a3b3c8-58fc-4ea9-825d-060c3ebc4e70.png)

[2022-01-16 19:46] sagnikbanerjee15 commented on #48
I figured the error. The gtf file was empty.

[2022-01-16 19:46] #48 closed

[2022-01-16 20:35] jrobinso commented on #48
Also, if it's a gtf file the format should be "gtf",  not "gff".

On Sun, Jan 16, 2022 at 11:46 AM Sagnik Banerjee ***@***.***>
wrote:

[2022-01-28 14:44] twrightsman opened #50 "1.0.0 release not tagged"
I saw that a 1.0.0 release was pushed to PyPi (awesome!!) but GitHub doesn't have a commit tagged or a release yet for 1.0.0, could you make a tag/release for it?

[2022-02-02 17:55] JesseRop commented on #25
I was getting the 404 GET error with the latest igv-jupyter version, which doesn't require a URL but works with the file paths, and solved this by putting all my files downstream of the working directory specified when loading JupyterLab.

[2022-02-07 18:31] tmtabor commented on #50
Good catch! I'll get that tag/release made in the next few minutes,

[2022-02-07 18:31] #50 closed